// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$navbar-default-bg: rgb(254, 254, 254);
$navbar-default-link-hover-color: #000;
$navbar-default-link-active-color: #000;
$navbar-default-link-active-bg: rgb(250, 250, 250);
