@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";


html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    @media (min-width: $screen-md-min) {
        margin-bottom: 100px;
    }
}

.padx {
    padding: 10px;
}
footer {

    background-color: #000000;
    color:#ccc;
    font-weight: 400;

    @media (min-width: $screen-md-min) {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
    }
    p {
        padding-top: 15px;
        text-align: center;
    }
    .footer-titulo {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-style: italic;
        font-size:24px;
        padding-top:30px;
        color:rgb(199, 48, 21);
        @media (min-width: $screen-md-min) {
            text-align:left;
        }
    }
    .footer-centro {
        text-align:center;
        padding-top:25px;
    }
    .footer-contato {
        padding-top:25px;
        @media (min-width: $screen-md-min) {
            text-align:center;
        }
    }
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.navbar {
    margin-top: 120px;
    margin-bottom: 0px;
    .navbar-nav>li>a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-style: italic;
        color:#666;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
    text-align:center;
    color:#000;
    /*background: #fff;*/
    position: absolute;
    font-size:20px;
    @media (min-width: $screen-sm-min) {
        padding-top:50px;
        font-size:46px;
        width: 100%;
        top: 0px;
        height: 120px;
        background: #fff;
    }
    img {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}


/* Carousel base class */
.carousel {
    height: 600px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 600px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}

.nav>li>a {
    padding-left:30px;
    padding-right:30px;
}

/* Center align the text within the three columns below the carousel */
.marketing{
    text-align: center;
    margin:50px 0 80px;
    p {
        text-align: justify;
    }
    .img-mkt {
        background: #fafafa;
        border-radius: 50%;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        padding-top: 20px;
        img {
            margin: 0 auto;
            height: 80px;
        }
    }
}



.obras {
    border-bottom: 2px solid #000;
    margin-top: 20px;
    /*margin-left: -15px;
    margin-right: -15px;
    display:table;
    .row {
    display:table-row;
    > div {
    display: table-cell;
}
}*/

img {
    margin-bottom: 20px;
}
h4 {
    margin: 0px;
}
p {
    text-align: justify;
}

}

.mais-fotos {
    height: 103px;
    background: #000;
    color: red;
    p {
        text-align: center;
        padding-top: 40px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        height: 82px;
        p {
            padding-top: 30px;
        }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        height: 98px;
        p {
            padding-top: 37px;
        }
    }
}
